.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
}

.pagination button {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
}

.pagination button:hover {
    background-color: yellow;
    color: red;
}

.pagination button.active {
    background-color: blue; 
    color: white;
    font-weight: bold;
    border-color: blue;
}

.pagination button:disabled {
    background-color: gray;
    color: black;
    cursor: not-allowed;
}



.card-img-custom {
    height: 250px; 
    object-fit: contain; 
    width: 100%; 
}
.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-hover:hover {
    transform: scale(1.05); 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}