.brand-1 {
    background-color: #005930;
}

.brand-2 {
    background-color: #5e4036;
}

.brand-3 {
    background-color: #1e83ad;
}

.brand-4 {
    background-color: #415c61;
}

.brand-5 {
    background-color: #d1cc1e;
}

.brand-6 {
    background-color: #ffffff;
}

.brand-7 {
    background-color: #dcefee;
}

.brand-8 {
    background-color: #ffffff;
}

.brand-9 {
    background-color: #f6f6f5;
}

.brand-10 {
    background-color: #ffffff;
}

