.register_container {
    width: 100%;
    margin: 0 auto;
    margin-top: 120px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    font-size: 20px; /* 글씨 크기 20으로 설정 */
}

h1 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 0px;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form input[type="file"],
form textarea {
    width: 90%; /* 가로 넓이를 절반으로 설정 */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block; /* 한 줄에 배치 */
}

form input[type="file"] {
    width: 100%; /* 파일 입력은 전체 넓이 사용 */
}

form button {
    width: 30%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}


.register-close-btn {
    width: 7%;
    margin-left: 63%;
    padding: 10px;
    background: red;
    border-radius: 5px;
    border: none;
    font-size: 20px; /* 크기 설정 */
    color: white; /* 빨간색 설정 */
    cursor: pointer;
}

.register-close-btn:hover {
    background: #910000;
}


