/* 1366 x 768 */
/* .banner-container {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px; 
}

.banner-img {
    width: 100%; 
    height: auto; 
    max-width: 1366px; 
    max-height: 768px; 
    object-fit: contain; 
    border-radius: 10px;
} */

.banner-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    
}


.banner-img {
    width: 100%;
    height: 50vh; 
    object-fit: contain;
}

.slick-prev, .slick-next {
    z-index: 100;
    width: 60px;
    height: 60px;
}

.custom-prev {
    left: 20px; 
}


.custom-next {
    right: 20px; 
}

.slick-prev:before, .slick-next:before {
    font-size: 40px;
    color: rgb(24, 159, 219);
}

/* Ï†ê */
.slick-dots li button:before {
    font-size: 14px; 
    color: rgb(24, 159, 219);
}


