.side-bar {
    width: 200px;
}

.side-bar button {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.side-bar button:hover {
    background-color: rgb(15, 138, 190);
    color: white;
}

.side-bar .side-bar-title {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}