.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 13px;
}

.pagination button {
    padding: 10px 15px;
    font-size: 20px;
    border: 1px solid rgb(145, 149, 151);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 5px;
}

.pagination button:hover {
    background-color: rgb(24, 159, 219);
    color: white;
}

.pagination button.active {
    background-color: rgb(0, 81, 255); 
    color: white;
    font-weight: bold;
    border-color: rgb(0, 81, 255);
}

.pagination button:disabled {
    background-color: rgb(134, 131, 131);
    color: white;
    cursor: not-allowed;
}

/* .card-img-custom {
    width: 800px;
  height: 1000px;
}
.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-hover:hover {
    transform: scale(1.05); 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
} */

