/*  연관 검색 */
.suggestions-list {
    position: absolute;
    background: white;
    border: 1px solid gray;
    padding: 5px;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 5px;
    z-index: 1000;
}

.suggestions-list li {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
}

.suggestions-list li:hover {
    background: gold
}
